<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="online.lahloba.www.lahloba">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.seller.SellerOrdersActivity" />
        <activity android:name=".ui.seller.SellerProductsActivity" />
        <activity android:name=".ui.order.OrderDetailsActivity" />
        <activity android:name=".ui.news.NewsActivity" />
        <activity android:name=".ui.favorites.FavoritesActivity" />
        <activity android:name=".ui.order.OrdersActivity" />
        <activity android:name=".ui.governerate.GovernerateActivity" />
        <activity android:name=".ui.address.AddAddressActivity" />
        <activity android:name=".ui.address.AddressActivity" />
        <activity android:name=".ui.signup.SignupActivity" />
        <activity android:name=".ui.login.LoginActivity" />
        <activity android:name=".ui.cart.CartActivity" />
        <activity android:name=".ui.products.ProductsActivity" />
        <activity android:name=".ui.sub_menu.SubMenuActivity" />
        <activity android:name=".ui.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".data.services.LahlobaMainService" />
    </application>

</manifest>